<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="css/styles.css">
    <title>PlayerToo</title>
</head>
<body>
    <header class="header">
        <nav class="flex">
            <ul class="flex homeNav">
                <li class="navItem"><a href="/user/profile">My Games</a></li>
                <li class="navItem"><a href="/games/search">Search</a></li>                    
            </ul>
        </nav>        
    </header>
    <section class="main">
        <img class="floating logo" src="assets/cropped-shiny-logo.png" alt="">
    </section>
    <section class="loginSection flex">
        <a class="loginButton" href="/auth/discord">Log In</a>
    </section>

    
    <script src="/js/main.js"></script>
</body>
</html>