<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
    <section class="main">
        
        <section class="mainInfo">
            <h2>Why should I be here?</h2>
            <p>Are you tired of being a 1337 gamer and only having noob friends? Maybe you are just starting a game and you are the noob? Perhaps you've been called "Grandpa" while running circles around little shits too many times.</p>
            <h3>Player Too has entered the chat...</h3>
            <p>I want to help everyone find friends in their age group/ skill level that are just as passionate about the games that you care about. There are so many places online to talk to large groups, but nowhere that lets you find individuals that are matched for you. Let's be real. This is like a dating site, but for commrades.</p>
        </section>
        <section class="mainLogin">
            <h2>Log in to browse a massive library of multiplayer games and become a Player Too</h2>
            <a href="/auth/discord"><span class="loginButton">Log In</span></a>
        </section>
    </section>
</div>
    
    
</body>
</html>