<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="css/mod-styles.css">
    <title>PlayerToo</title>
</head>
<body>
    <header class="header">
        <nav class="flex navBase">
            <ul class="flex navList">
                <li class="navItem headerText"><a class='navLink headerText lightGreen'href="/user/profile">My Games</a></li>
                <li class="navItem headerText"><a class='navLink headerText lightGreen'href="/games/search">Search</a></li>              
            </ul>
            <div>
                <a class="simpleBtn lightGreen" href="/auth/discord">Login</a>
            </div>
            
        </nav>        
    </header>
    <section class="flex logoContainer">
        <img class="floating mainLogo" src="assets/cropped-shiny-logo.png" alt="">
    </section>
    
    <ol class="howToList">
        <li class="infoBox">
            <h2 class="headerText">How to use PlayerToo</h2>
            <p class="parText">PlayerToo is a platform for finding others to play multiplayer games with. It is sometimes difficult to find gamers around your skill level, especially if you play on a competitive level. PlayerToo fixes this problem by filtering users by the number of hours they have in game. Adding yourself to the list and finding others can be done in just a few simple steps.</p>
        </li>
        <li class="infoBox">
            <h2 class="headerText lightGreen">1. Log in with your Discord account</h2>
            <p class="parText lightGreen">One of the greatest resources for gaming with other online is Discord. This is why they are my authentication of choice. Just click log in and authorize the PlayerToo application.</p>
        </li>
        <li class="infoBox">
            <h2 class="headerText">2. Find your favorite games</h2>
            <p class="parText">Go to the search tab and look for your favorite multiplayer games.</p>
        </li>
        <li class="infoBox">
            <h2 class="headerText lightGreen">3. Add yourself to the list</h2>
            <p class="parText lightGreen">Once you find your game, add yourself to the list by putting in the number of hours you have in the game. </p>
        </li>
        <li class="infoBox">
            <h2 class="headerText">4. Find Friends</h2>
            <p class="parText">After adding yourself to the list, you will see a list of players with the same amount of experience in the game as you.</p>
        </li>
        <li class="infoBox">
            <h2 class="headerText lightGreen">5. Add friends</h2>
            <p class="parText lightGreen">Reach out to the player on Discord to set up a time to play together. After all, they were looking for a PlayerToo.</p>
        </li>
    </ol>
    <div class="center loginContainer">
        <div class="loginSection flex">
            <a class="loginButton headerText lightGreen" href="/auth/discord">Log In</a>
        </div>
    </div>
        

    <footer class="footer">
        <p>Website designed and built by: <a class="navLink footerLink" href="https://github.com/Hazelwize" target="_blank">Micah Jackson</a> </p>
    </footer>
   

    
    <script src="/js/main.js"></script>
</body>
</html>