<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="css/styles.css">
    <title>PlayerToo</title>
</head>
<body>
    <header class="header">
        <nav class="flex">
            <ul class="flex homeNav">
                <li class="navItem"><a href="/user/profile">My Games</a></li>
                <li class="navItem"><a href="/games/search">Search</a></li>                    
            </ul>
        </nav>        
    </header>
    <section class="main">
        <img class="floating logo" src="assets/cropped-shiny-logo.png" alt="">
    </section>
    
    <ol class="howToList">
        <li class="howToItem">
            <h2 class="howToHeader">How to use PlayerToo</h2>
            <p class="howToInfo">PlayerToo is a platform for finding others to play multiplayer games with. It is sometimes difficult to find gamers around your skill level, especially if you play on a competitive level. PlayerToo fixes this problem by filtering users by the number of hours they have in game. Adding yourself to the list and finding others can be done in just a few simple steps.</p>
        </li>
        <li class="howToItem">
            <h2 class="howToHeader">1. Log in with your Discord account</h2>
            <p class="howToInfo">One of the greatest resources for gaming with other online is Discord. This is why they are my authentication of choice. Just click log in and authorize the PlayerToo application.</p>
        </li>
        <li class="howToItem">
            <h2 class="howToHeader">2. Find your favorite games</h2>
            <p class="howToInfo">Go to the search tab and look for your favorite multiplayer games.</p>
        </li>
        <li class="howToItem">
            <h2 class="howToHeader">3. Add yourself to the list</h2>
            <p class="howToInfo">Once you find your game, add yourself to the list by putting in the number of hours you have in the game. </p>
        </li>
        <li class="howToItem">
            <h2 class="howToHeader">4. Find Friends</h2>
            <p class="howToInfo">After adding yourself to the list, you will see a list of players with the same amount of experience in the game as you.</p>
        </li>
        <li class="howToItem">
            <h2 class="howToHeader">5. Add friends</h2>
            <p class="howToInfo">Reach out to the player on Discord to set up a time to play together. After all, they were looking for a PlayerToo.</p>
        </li>
    </ol>

    <section class="loginSection flex">
        <a class="loginButton" href="/auth/discord">Log In</a>
    </section>

    <footer class="footer">
        <p>Website designed and built by: <a class="webLink" href="https://github.com/Hazelwize" target="_blank">Micah Jackson</a> </p>
    </footer>
   

    
    <script src="/js/main.js"></script>
</body>
</html>