<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <h1>Welcome <%= name %>, let's add some games to your list! </h1>

    <form action="/games/search" method="GET">
        <input type="text" name="gameName">
        <button type="submit">Search</button>
    </form>
    <ul class="games">
        <% for(let i = 0; i < games.length ; i++) { %>
            <li class="gameCard">
                <span class="gameTitle" data-name="<%=games[i].name%>"><%= games[i].name %></span>
                <img class="gameImg" src="<%= games[i].background_image %>" alt="">
            </li>
        <%}%>
    </ul>
    
</body>
</html>