/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html,body{
    margin: 0 ;
    min-height: 100%;
}

body{
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}
html{
    height: auto;
    scroll-behavior: smooth;
    background: linear-gradient(#1C3041, #1A1423) no-repeat;
}
.main{
    text-align: center;
}
.logo{
    filter: drop-shadow(20px 20px 3px #1A1423);
    max-width: 60%;
    
}
.floating { 
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 100px;
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

.header{
    padding: 20px;
    border-radius: 0 0 20px 20px;
    background: linear-gradient(#1A1423 10%, #1A1423 95%, #666B6A 100%);
    box-shadow: 0 5px 10px RGB(0,255,171);
    
}
nav{
    width: 100%;
    justify-content: center;
}

.flex{
    display: flex;
}
.navList{
    display: flex;
    margin-left: 50px;
    gap: 100px;
    width: 50%;
}
.navItem{
    display: inline-block;
}
.navItem>a{
    color:RGB(0,255,171);
    font-size: 30px;
    font-weight: 700;
    text-shadow: 3px 3px 3px black;
    text-decoration: none;
}
.username{
    font-size: 20px;
    font-weight: bold;
}
.loginSection{
    justify-content: center;
    padding: 5px;
    border-radius: 25px;
    width: 25%;
    margin: 30px auto;
    background: linear-gradient(#00FFAB,rgb(46, 46, 46));
    
}

/* .wrapper{
    background: transparent;
    width: 1440px;
    margin: 0 auto;
} */
.mainTitle{
    text-align: center;
    font-size: 40px;
}
h1{
    font-size: 36px;
    font-weight: bold;
}

.gameDescription{
    color: #F5E6E8;
    margin-top: 75px;
    font-size: 25px;
    line-height: 37px;
}
.mainLogin{
    width: 40%;
    background: linear-gradient(#ac60c1, #542062);
    border: 10px solid #BC96E6;
    padding: 40px;
    border-radius: 20px;
}
.loginButton{
    width: 100%;
    text-align: center;
    border-radius: 25px;
    background: linear-gradient(#1C2F40, #00171F);
    text-shadow: 3px 3px 3px black;
    color: RGB(0,255,171);
    font-weight: 700;
    display: block;
    font-size: 30px;
    padding: 20px 50px;
    text-decoration: none;
  
}
.loginButton:hover{
    box-shadow: inset 0px -10px 20px rgba(0,0,0,.5);
}
.games{
    display:flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;

}
.gameCard{
    background: linear-gradient(160deg, rgba(255, 255, 255, .1) 30%, rgba(255,255,255,.4) 60%, rgba(255, 255, 255, .1) 100%);  
    backdrop-filter: blur(5px);
    border-radius: 25px;
    /* border: 4px solid rgba(168, 216, 253, .2); */
    box-shadow:5px 5px 0px  rgba(255,255,255,.2), 5px 5px 5px 10px rgba(0, 255, 171,.4);
    list-style-type: none;
    font-size: 20px;
    font-weight: bold;
    width: 26%;
    padding: 20px 10px 50px 10px;
    margin: 50px 0px;
}

.imgContainer{
    width: 100%;
    height:250px;
}
.gameImg{
    border-radius: 20px;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 20px;
    /* border: 5px solid #772D8B; */
    /* padding-top: 50px; */
    object-fit: cover;
    width: 400px;
    height: 250px;
}
form{
    text-align: center;
    width: 100%;
    margin-top: 100px;
}
.searchBar{
    margin: 0 auto;
    width: 40%;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    border-radius: 25px;
    box-shadow: inset 4px 4px 4px rgba(0,0,0,.5);
    border: 3px solid #00FFAB;
}
.searchBar:focus{
    color: #1A1423;
    outline: none;
    box-shadow: 0 0 5px #00FFAB;
}
button{
    margin: 0 auto;
    width: 15%;
    font-size: 20px;
    padding: 10px 40px;
    font-weight: 700;
    color: #00FFAB;
    border: 3px solid #00FFAB;
    text-shadow: 2px 2px 1px #00171F;
    background: linear-gradient(#00171F, #1A1423);
    border-radius: 25px;
    transform: translateX(-50px);
}
.userNav{
    margin-left:auto;
    margin-right: 40px;
}
.searchCaption{
    color: #F5E6E8;
    font-size: 30px;
    font-weight: 700;
}
.preSearchSection{
    text-align: center;
    margin-top: 100px;
}

.gameTitle{
    font-size: 35px;
    text-shadow: 3px 3px 2px #1A1423;
    /* text-shadow: 2px 2px 1px rgba(255,255,255,.5); */
    color: #F5E6E8;
    font-weight: bold;
}
.titleLink{
    
    text-decoration: none;
}
.hoursLabel{
    font-size: 24px;
}
.gameMain{
    color: #F5E6E8;
    padding: 0 100px;
}
.gameDescriptionContainer{
    padding: 0 100px;
}
.addFriend{
    font-size: 24px;
}
.matchedResults{
    margin: 10px 0;
}
.userAvatar{
    width: 50px;
    border-radius: 50%;
    border: 2px solid #003459;
    box-shadow: 0px 0px 5px 5px#00FFAB;
}
.userAvatar:hover{
    box-shadow: 0px 0px 3px 3px #00FFAB;
}
.homeNav{
    justify-content: space-between;
    gap: 80px;
    margin: 0 auto;
}

.hoursInput{
    margin: 0 auto;
    width: 300px;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    border-radius: 25px;
    box-shadow: inset 4px 4px 4px rgba(0,0,0,.5);
    border: 3px solid #00FFAB;
}
.listOfGames{
    margin: 0 auto;
    padding: 20px 0 ;
    width: 80%;
    flex-wrap: wrap;
}
.titleLink{
    text-transform: capitalize;
    font-weight: bold;
    font-size: 25px;
    color: #39A7FF;
    width: 100%;
}
.gameUpdateCard{
    margin: 30px 0;
    width: 32%;
    padding: 20px;
    flex-wrap: wrap;
    
}
.hoursUpdateForm{
    padding: 0;
    margin: 10px 0;
    
}
.updateBtn{
    font-size: 16px;
    padding: 13px 0;
    width: 30%;
    position: relative;
    right: 20px;
    bottom: 1px;
    border: 3px solid #00FFAB;
}
.deleteBtn{
    cursor: pointer;
    text-decoration: none;
    color: rgb(255, 252, 219);
    padding: 10px 20px;
    margin: 25px 0;
    background: rgb(87, 2, 2); 
    border-radius: 30px;
    border:2px solid rgb(255, 252, 219);   
}  
.deleteSpan{
    color: #F5E6E8;
    font-weight: bold;
    font-size: 18px;
    margin: 20px;
} 
.logoutContainer{
    display: flex;
    justify-content: space-between;
}
@keyframes iconPopUp{
    0%{
        transform: translateY(-50px) scale(.1);
    }
    100%{
        transform: translateY(-50px) scale(1);
    }
}

.menuShow{
    animation-name: iconPopUp;
    animation-duration: .2s;  
    width: 13%;
    background: rgba(26, 20, 35, .5);
    border: 2px solid rgba(255,255,255,.7);
    color: white;
    font-weight: 700;
    border-radius: 25px;
    height: 125px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1;
    transform: translateY(-50px);
}
.logoutBtn{
    width: 100%;
    cursor: pointer;
    transform: translateX(0);
}
@keyframes iconSlide {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-200px);
    }
}
.userIconClicked{
    animation-name: iconSlide;
    animation-duration: .3s;
    transform: translateX(-200px);
    z-index: 2;
}
.hidden{
    display: none;
}
.spacingDiv{
    height: 169px;
}
.menuName{
    color: #00FFAB;
    font-size: 20px;
    font-weight: 700;
}

.howToList{
    display: flex;
    flex-wrap: wrap;
    color: #F5E6E8;
    margin-top: 100px;
    
}
.howToItem:nth-child(even){
    background: #1A1423;
    width: 70%;
    border: 5px solid #00FFAB;
    box-shadow: inset -20px 0px 20px rgba(0, 255, 171,.8);
    border-left: none;
    border-radius: 0 30px 30px 0;
    padding-left: 40px; 
}
.howToItem:nth-child(odd){
    background: #00FFAB;
    box-shadow: inset 20px 0px 20px rgba(26, 20, 35, .8);
    border: 5px solid #1A1423;
    color: #1A1423;
    width: 70%;
    margin-left: 30%;
    align-self: flex-end; 
    border-radius: 30px 0 0 30px;
    border-right: none;

}

.howToItem{
    margin: 20px 0;
    width: 90%;
    font-weight: 700;
    padding: 50px 100px;
    border-radius: 30px;

}
.howToHeader{
    padding: 30px 0;
    font-size: 30px;
    font-weight: 700;

}
.howToInfo{
    padding: 30px 0;
    font-size: 20px;
    line-height: 30px;
}

.footer{
    height: 70px;
    color:#F5E6E8;
    background: #1A1423;
    text-align: center;
    margin-top: 100px;
}
.webLink{
    color: #F5E6E8;
}







