/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html,body{
    margin: 0 ;
    min-height: 100%;
}
html{
    height: auto;
    scroll-behavior: smooth;
    background: linear-gradient(#1C3041, #1A1423) no-repeat;
}
body{
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}
.wrapper{
    min-height: calc(100vh - 70px);
    padding: 0;
}

/* ==========================================
----------------LAYOUT------------------
========================================== */
.flex{
    display: flex;
}
.navBase{
    justify-content: space-between;
    padding: 0 15px;
}
.navList{
    align-content: center;
    justify-content: space-between;
    gap: 40px;
}
.mainLogo{
    max-width: 60%;
    filter: drop-shadow(20px 20px 3px #1A1423);
}
.logoContainer{
    justify-content: center;
    padding: 50px 0;
    margin-bottom: 75px;
}
.howToList{
    display: flex;
    flex-wrap: wrap;
    color: #F5E6E8;
    margin: 100px 0;
    
}
.infoBox{
    margin: 20px 0;
    padding: 75px;
}
.infoBox:nth-child(even){
    background: #1A1423;
    width: 70%;
    border: 5px solid #00FFAB;
    box-shadow: inset -10px 0px 10px rgba(0, 255, 171,.8);
    border-left: none;
    border-radius: 0 30px 30px 0;
    padding-left: 40px; 
}
.infoBox:nth-child(odd){
    background: #00FFAB;
    box-shadow: inset 10px 0px 10px rgba(26, 20, 35, .8);
    border: 5px solid #1A1423;
    color: #1A1423;
    width: 70%;
    margin-left: 30%;
    align-self: flex-end; 
    border-radius: 30px 0 0 30px;
    border-right: none;
}
.footer{
    padding: 25px;
    color:#F5E6E8;
    background: #1A1423;
    text-align: center;
}
.loginContainer{
    width: 210px;
}
.center{
    margin: 0 auto;
}

.userAvatar{
    max-width: 40px;
    border-radius: 50%;
    border: 2px solid #003459;
    box-shadow: 0px 0px 5px 5px#00FFAB;
    cursor: pointer;
    z-index: 1;
    transform: 0;
    transition: transform .3s ease-in-out;
}
.games{  
    width: 90%; 
    
    margin: 0 auto; 
    flex-wrap: wrap;
    justify-content: space-around;
}
/* search results cards */
.gameCard{
    text-align: center;
    width: 20%;
    padding: 30px;
}
.searchBar{
    justify-content: space-between;
    padding: 0 30%;
}
.hoursForm{
    width: 90%;
}
.underline{
    border-bottom: 3px solid #00FFAB;
}

/* shadow over game search result cards */
.overShadow{
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,1));
    height: 100%;
    width: 100%;
    border-radius: 15px;
    display: flex;
    align-items: flex-end;
    transition: background 1s ease-in-out;
}
/* holds background image for game search results */
.imgContainer{
    margin: 0 auto;
    box-shadow: 5px 5px 8px rgba(0,0,0,.7);
    border: 2px solid rgb(16, 16, 16);
    border-radius: 15px;
    width: 300px;
    height: 400px;
    background-position: 50% 100%;
    background-size: cover;
}
.gameTitle{
    color: white;
    font-size: 26px;
    text-shadow: 2px 2px 2px rgb(0,0,0);
    padding: 30px 10px;   
}
.imgProfile{
    width: 100%;
    height: 800px;
    margin-top: -250px;
    box-shadow: 0px -7px 10px rgba(0,0,0,.5);
    border: 2px 0 solid rgb(16, 16, 16);
    background-position: 50% 40%;
    background-size: cover;
}
.overProfile{
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7));
    height: 100%;
    width: 100%;
    display: flex;
    /* text-align: center; */
    align-items: center;
}
.listOfGames{
    /* margin-top: -200px; */
    color: white;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
    width: 80%;
    
}
.updateCard{
    background: #1A1423;
    color: white;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    border: 4px solid #00FFAB;
    border-radius: 30px;
    box-shadow: 5px 5px 5px rgba(0,0,0,.8);
    gap: 20px;
    width: 30%;
}
.gameLink{
    color: white;
}
.barBtn{
    margin-left: -112px;
    z-index: 2;
}
.updateForm{
    width: 100%;
    padding: 0;
}
legend{
    margin-bottom: 5px;
}
svg{
    fill:rgba(0, 255, 171,.8);
}
.friendContainer{
    text-align: center; 
    transform: translateY(-200px);
}
.gamesHeader{
    padding: 0 0 20px 0  ;
}
.codesContainer{
    flex-direction: column;
    gap: 30px;
}
.friendGames{
    justify-content: space-between;
    flex-direction: column;
    border: 3px solid #00FFAB;
    background: #00FFAB;
    border-radius: 30px;
}
.friendPic{
    border-radius: 50%;
}
.gameSystem{
    background: #1A1423;
    color: #00FFAB;
    border-radius: 0 0 27px 27px ;
    /* border-bottom: 3px solid #00FFAB; */
}
.codesForm{
    /* flex-direction: column; */
    flex-wrap: wrap;
    width: 80%;
}
.stackedInput{
    margin: 10px 0;
    width: 100%;
}
.codesCard{
    transform: translateY(-200px);
}
.codeSubmit{
    display: block;
    width: 130px;
    transform: translateX(120px) translateY(10px);
}
.codeLabel{
    width: 100%;
}
.settingsTitle{
    width: 60%;
    font-size: 35px;
    text-align: center;
    margin-bottom: 100px;
    border-bottom: 4px solid #00FFAB;
}
.noLink{
    text-decoration: none;
    color: #00FFAB;
}
.bigName{
    margin-bottom: 20px;
}
/* ==========================================
----------------STYLES--------------------
========================================== */
.header{
    margin-bottom: 100px;
    text-align: center;
    padding: 20px;
    border-radius: 0 0 20px 20px;
    background: linear-gradient(#1A1423 10%, #1A1423 95%, #666B6A 100%);
    box-shadow: 0 5px 10px RGB(0,255,171); 
}
.headerText{
    line-height: 30px;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
}
.parText{
    text-indent: 10%;
    line-height: 33px;
    font-size: 22px;
    text-decoration: none;
}
.lightGreen{
    color: #00FFAB;
}
.darkText{
    color: #1A1423;
}
.loginButton{
    padding: 20px 60px;
    background: linear-gradient(#1C2F40, #00171F);
    text-shadow: 3px 3px 3px black;
    border-radius: 25px;
}
.loginSection{
    justify-content: center;
    padding: 5px;
    border-radius: 25px;
    width: 100%;
    /* margin: 30px auto; */
    background: linear-gradient(#00FFAB,rgb(46, 46, 46));  
}
.simpleBtn{
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 18px;
    border-radius: 25px;
    background:#1C2F40;
    border: 3px solid #00FFAB;
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
}
.footerLink{
    color: #00FFAB;
    font-size: 18px;
    text-decoration: none;
}
.searchForm{
    text-align: center;
    margin-bottom: 80px;
    margin-top: -200px;
}

.barInput{
    z-index: 1;
    min-width: 90%;
    border-radius: 25px; 
    padding-left: 20px;
    box-shadow: inset 4px 4px 4px rgba(0,0,0,.5);
    border: 3px solid #00FFAB;
}
.barInput:focus{
    color: #1A1423;
    outline: none;
    box-shadow: 0 0 5px #00FFAB;
}

.darkShadow{
    text-shadow: 3px 3px 3px #1A1423;
}
.logoutContainer{
    justify-content: flex-end;
}
.userOptions{
    text-align: center;
    padding: 40px;
    border: 3px solid #F5E6E8;
    width: 140px;
    gap: 30px;
    background: rgba(102, 107, 106,.6);
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 25px;
    transform-origin: top right;
    transform: translateY(-145px) translateX(-30px) scale(0);
    transition: transform .3s ease-in-out;
}
.gameProfile{
    color: white;
    text-shadow: 4px 4px 4px rgba(0,0,0,.6);
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.titleContainer{
    text-align: center;
    transform: translateY(-290px);

}
.gameHeader{
    color: white;
    text-shadow: 4px 4px 4px rgba(0,0,0,.6);
    font-weight: 700;
    font-size: 40px;
}
.deleteBtn{
    border: 3px solid rgb(123, 1, 1);
    background: rgb(152, 24, 24);
    color: white;
    margin-top: 15px;
    
}
/* ==========================================
----------------STATES--------------------
========================================== */
/* User Icon Animation Class */
.slideLeft{
    transform:translateX(-200px);
    z-index: 5;
    transition: transform .5s ease-in-out;
}

/* Logout Container Animation Class */
.popUp{
    transform: translateY(-145px) translateX(-30px) scale(1);
    transform-origin: top right;
    transition: transform .5s ease-in-out;
    z-index: 3;
}

/* Floating Logo on Landing Page */
.floating { 
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes floating {
    0% { transform: translate(0,  0px); 
        filter: drop-shadow(30px 30px 10px #1A1423);
        transform: scale(1.03);}
    50%  { transform: translate(0, 15px); 
        filter: drop-shadow(15px 15px 1px #1A1423);;}
    100%   { transform: translate(0, -0px);
        filter: drop-shadow(30px 30px 10px #1A1423);
        transform: scale(1.03); }   
}
.matchedResults:hover{
    transform: scale(1.1);
}

.loginButton:hover{
    box-shadow: inset 0px -10px 20px rgba(0,0,0,.5);
}
.simpleBtn:hover{
    background: #00FFAB;
    color: #1A1423;
}
.navLink:hover{
    color: #00B5FF;
}
.userAvatar:hover{
    box-shadow: 0px 0px 3px 3px #00FFAB;
}
.hidden{
    transform: scale(0);
}
/* search results shadow gets lighter on hover */
.overShadow:hover{
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.6));
    transition: background .1s ease-in-out;
}
/* makes game search result larger on hover */
.imgContainer:hover{
    transform: scale(1.05);
    transition: transform .1s ease-in-out;
}

/* ==========================================
----------------MEDIA QUERIES----------------
========================================== */

@media screen and (max-width:1440px){
    .headerText{
        font-size: 20px;
    }
    .parText{
        font-size: 16px;
    }
    .infoBox{
        padding: 40px;
    }
    .games{
        width: 100%;
    }
    .gameCard{
        width: 25%;
    }
    .imgContainer{
        max-width: 100%;
    }
    .searchBar{
        padding: 0 20%;
    }
    .updateForm{
        padding: 0;
    }
   
}
@media screen and (max-width: 1000px){
    .mainLogo{
        max-width: 80%;
    }
    .gameCard{
        width: 35%;
    }
    .updateCard{
        width: 40%;
    }
}
@media screen and (max-width:800px){
    .infoBox:nth-child(even),.infoBox:nth-child(odd){
        width:100%;
        margin: 20px 0;
        padding: 15px;
    }
    .logoContainer{
        padding: 20px 0;
    }
    .howToList{
        margin-top: 20px;
    }
    .gameCard{
        width: 41%;
    }
    .searchBar{
        padding: 0 10%;
    }
    .updateForm{
        padding: 0;
    }
    .updateCard{
        width: 70%;
    }
    .userAvatar{
        max-width: 30px;
    }
    .userOptions{
        padding: 30px;
        transform: translateY(-145px) translateX(-10px) scale(0);
    }
    .slideLeft{
        z-index: 5;
        transform:translateX(-170px);
    }
    .navBase{
        padding: 0;
    }
    .popUp{
        transform: translateY(-145px) translateX(-10px) scale(1);
        transform-origin: top right;
        z-index: 3;
        transition: transform .5s ease-in-out;
    }
    .gameHeader{
        font-size: 26px;
    }
    .settingsTitle{
        width: 80%;
    }
   
}
@media screen and (max-width: 680px){
    .gameCard{
        width: 80%;
    }
    .imgContainer{
        height: 250px;
    }
    .searchBar{
        width: 90%;
        margin: 0 auto;
        padding: 0;
    }
}
@media screen and (max-width: 500px){
    .infoBox{
        padding: 20px;
    }
    .searchBar{
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-around;
    }
    .barBtn{
        margin: 0;
        width: 80%;
    }
    .stackedInput{
        font-size: 16px;
    }
    .codeSubmit{
        transform: none;
        width: 130px;
    }
    .updateForm{
        height: auto;
    }
    .updateCard{
        padding: 30px;
    }
    .settingsTitle{
        font-size: 25px;
    }
}